%div.col-xs-12
  %div.panel.panel-default
    %div.panel-heading
      %h1 LV0 (random)
    %div.panel-body
      %table
        - 9.times do
          %tr
            - 9.times do
              %td
                +
